.footer{
    background:#181a18;
    color: white;
    font-size: 14px;
    padding: 5px 0 5px;
}

.footer h2{
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
}

.footer p{
    color: white;
}

.footer-1, .footer-2, .footer-3, .footer-4{
    min-width: 250px;

}

.footer-1{
    flex-basis: 15%;
    cursor: pointer;
}

.footer-2{
    flex-basis: 10%;
    color: white;
    cursor: pointer;
}

.footer-3 img{
    width: 300px;
    position: relative;
    margin-top: 20px;
}

.footer-4{
    flex-basis: 5%;
}

.footer ul li{
    list-style: none;
    color:dimgrey;
    padding: 2px;
    cursor: pointer;
}

.footer ul li:hover{
    filter:brightness(500%);
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}